body {
    background-color: #1C468E;
}

form {
    display: flex; 
    align-items: center;
    flex-direction: column; 
    justify-content: center; 
    margin-top: 10px; 
}

.edit {
    display: flex; 
    flex-direction: row;
    margin-top: 20px;
}
